@tailwind base;
@tailwind components;
@layer components {
  .d-title {
    border-color: var(--el-border-color);
    @apply font-bold border-l-sky-400 border-l-4 pl-4 m-2 bg-slate-100 rounded-sm py-2 dark:bg-transparent dark:border-y dark:border-r;
  }
  .d-article-content {
    img {
      display: inline;
    }
    p {
      margin: 20px 0;
      line-height: 30px
    }
  }
}
@tailwind utilities;
@layer utilities {
  
}
