:root {
  --d-sidebar-bg: #282c34;
  --d-sidebar-color: #000;
  --d-sidebar-active-color: #fff;
  --d-sidebar-bg-light-1: #263445;
  --d-sidebar-bg-light-2: #1f2d3d;
  --d-sidebar-bg-light-3: #282c34;
}