// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

/* 全局 css 变量 */
$primaryColor: var(--el-color-primary);

// sidebar
$menuText: var(--d-sidebar-color);
$menuActiveText: var(--d-sidebar-active-color);


$menuBg: var(--d-sidebar-bg);
$menuHover: var(--d-sidebar-bg-light-1);
$subMenuBg: var(--d-sidebar-bg-light-2);

$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  sideBarWidth: $sideBarWidth;
  primaryColor: $primaryColor;
}
