html,
body {
  height: 100%;
  width: 100%;
  overflow: visible;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  background: #f0f2f5;
}

/* 常用 flex */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}



/** 设置滚动条 **/
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}


::-webkit-scrollbar-track {
  background-color: rgb(0 0 0 / 5%);
}

::-webkit-scrollbar-thumb {
  // background: rgba(0, 0, 0, 0.6);
  background-color: rgb(144 147 153 / 30%);
  // background-color: rgba(144, 147, 153, 0.3);
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
}


/* nprogress样式 */
#nprogress .bar {
  background: $primaryColor !important;
}

#nprogress .spinner-icon {
  border-top-color: $primaryColor !important;
  border-left-color: $primaryColor !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $primaryColor, 0 0 5px $primaryColor !important;
}

.app-container {
  height: 100%;
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .d-header {
    display: flex;
    padding: 16px 16px 0px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
  }
  .d-content {
    flex: 1;
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 12px rgb(0 0 0 / 5%);
    position: relative;
    box-sizing: border-box;
    .util {
      margin-bottom: 15px;
      display: flex;
      flex-shrink: 0;
    }
    .table-inner {
      flex: 1;
      position: relative;
    }
    .table {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%
    }
  }
}

.app-container-inner {
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  background: white;
  padding: 20px;
  box-sizing: border-box;
}

.layout-horizontal {
  .header-icon {
    color: #bfcbd9 !important;
  }

  .el-dropdown-link {
    color: #bfcbd9 !important;
  }
}

.el-pager li:focus {
  border: none;
}

.el-dropdown:focus {
  border: none;
  outline: none !important;
}

.svg-icon:focus {
  border: none !important;
  outline: none !important;
}

/* 小屏幕全局样式 */
@media screen and (max-width: 800px) {
  .app-container {
    padding: 0px 0px;
    .d-header, .d-content {
      padding: 10px 8px;
    }
    .d-header {
      margin-top: 10px;
    }
  }
  .d-dialog {
    width: calc(100% - 6px);
    margin-left: 6px
  }
}