
.d-dialog {
  .el-dialog__header, .el-dialog__footer{
    padding: 14px;
  }
  .el-dialog__body {
    border-top: 1px solid var(--el-border-color);
    border-bottom: 1px solid var(--el-border-color);
    padding: var(--el-dialog-padding-primary) ;
    padding-top: calc(var(--el-dialog-padding-primary) + 5px);
  }
  .el-dialog__headerbtn {
    top: 1px
  }
}

.d-edit-form {
  .el-textarea__inner {
    min-height: 80px !important;
  }
}
.d-detail-form {
  .el-form-item__label {
    color: var(--el-text-color-secondary)
  }
}

.d-submit-button {
  padding: 7px 30px;
}

/* vue Transition特效 */
/* bounce */
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}


.list-move, /* 对移动中的元素应用的过渡 */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

// /* 确保将离开的元素从布局流中删除
//   以便能够正确地计算移动的动画。 */
// .list-leave-active {
//   position: absolute;
// }

/* 1. 声明过渡效果 */
.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. 声明进入和离开的状态 */
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

// /* 3. 确保离开的项目被移除出了布局流
//       以便正确地计算移动时的动画效果。 */
// .fade-leave-active {
//   position: absolute;
// }